* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #42C3C9;
	line-height: 29px;
	text-decoration: underline;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
}
 p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
 }

 strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 }

 a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
 }

 section {
   float: right;
   margin: 0 1.5%;
	 margin-right: 50%;
  }
 aside {
   float: right;
   margin: 0 1.5%;
   width: 30%;
 }

.padding-top {
	padding-top: 10px;
}
.padding-bottom {
	padding-bottom: 10px;
}
.margin-right {
	margin-right: 30px;
}
.padding-none {
	padding: 0;
}

.detail-dash-title{
	display: inline-block;
	float: left;
	color: #42C3C9;
	font-weight: 400;
}

.btn {
	padding: 20px;
	margin: 0;
	border-color: #42C3C9;
	border-width: 2px;
	/* color: #42C3C9; */
}
.btn:hover {
	border-color: #42C3C9;
}
.btn.delete {
	border-color: #42C3C9;
	color: #aaaaaa;
}
.btn.delete:hover {
	border-color: #42C3C9;
	color: red;
}
.glyphicon {
	margin-right: 10px;
}
.top-menu {
	padding-top: 30px;
	padding-bottom: 30px;
}
.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}
.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #7B7573;
	font-weight: 400;
}
.divider {
	height: 15px;
}
.divider.blue {
	background-color: #42C3C9;
}
.divider.green {
	background-color: #9FB80A;
}

.banner.main {
	height: 150px;
	/* background: url("/static/citytech_logo.png"); */
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner.menu {
	height: 150px;
	background-color: #E1E17F;
}
.banner.profile {
	height: 150px;
	background-color: #A6E8EB;
}
.banner h1 {
	margin: 45px 0;
}
.login{
	position: relative;
	float: right;
	margin-right: 0;
}

.button-add{
	width: 46px;
  height: 44px;
	background: url('/static/icons8-plus.png');
}

.button-edit{
	opacity: 0;
  transition: opacity .35s ease;
	display: inline-block;
	float: right;
}

.button-delete{
	opacity: 0;
  transition: opacity .65s ease;
	display: inline-block;
	float: right;
}

.movies-list {
 	background-color: #F0F0F0;
 	padding: 20px;
	border-style: solid;
  border-color: #D3D3D3;
 }
.movies-list:hover {
 	background-color: #0ab2b8;
 	padding: 20px;
}

.movies-list:hover .button-edit{
	 opacity: 1;
}

.movies-list:hover .button-delete{
	 opacity: 1;

}

.categories{
	margin-right: 80%;
}

.dashboard{
	margin-left: 20%;
	position: absolute;
}

.button-detail-dash{
	display: inline-block;
	/* position: absolute;
	float: right;
	margin-right: 10px; */
}

.modal-backdrop {
    z-index: 1040 !important;
}
.modal-dialog {
    margin: 2px auto;
    z-index: 1100 !important;
}

#subcat1 option{
    display:none;
}

#subcat1 option.label{
    display:block;
}

#subcat2 option{
    display:none;
}

#subcat2 option.label{
    display:block;
}

#multiple-checkboxes option{
    display:none;
}

#multiple-checkboxes option.label{
    display:block;
}


#switch {
  height:50px;
  width:50px;
  background: #F00; /* Just so we can see it */

  top: 150px;
  left: 50%;  /* Put the left edge on the horizontal center */
  margin-left: 148px; /* Move it 148px to the right of the horizontal center, placing it over the lightswitch */
 }


.creator {
	padding-right: 20px;
	margin-top: -20px;
	text-align: right;
	float:right;
}
.creator img {
	width: 100px;
	border-radius: 50%;
}
.creator figcaption {
	font-size: 14px;
	color: #7B7573;
	font-weight: 400;
	margin-top: -20px;
}
.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}

.movie {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.movie-item {
	font-size: 200%;
}
