{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<!-- Banner for the page -->
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>CityTech Credit Tracker</h1>
		</div>
	</div>

<!-- Flash message that shows messages of the CRUD actions done within the website -->
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	    {% endif %}
	  {% endwith %}
	</div>




<section class="col-md-12"> <h2>Required Courses</h2></section>


<div class="">

		<!-- Categories menu for all program categories -->
			Departments
				{% for dept in depts %}
					<a href = ""> <!-- edit later -->
							<div class="movies-list">
									<h3>{{dept.name}}</h3>
								</div>
					</a>
				{% endfor %}


	</div>
{% endblock %}
