{% extends "base.html" %}
{% block content %}
{% include "header.html" %}



<!-- Flash message that shows messages of the CRUD actions done within the website -->
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	    {% endif %}
	  {% endwith %}
	</div>


<div class="container">
	<div class="col-md-6"><section class=""><h2>Course</h2></section></div>
	<div class="col-md-6">
		<a href="{{ url_for('createCourseForm') }}" >
			<button class="btn btn-default button-dept">
				<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  New Course
			</button>
		</a>
	</div>
</div>

<div class="col-md-12">

			<h3>Name: {{course.name}}</h3>

			<h6>Code: {{course.code}}</h6>

			<h6>Credits: {{course.credits}}</h6>




	</div>
{% endblock %}
