{% extends "base.html" %}
{% block content %}
{% include "header.html" %}



<!-- Flash message that shows messages of the CRUD actions done within the website -->
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	    {% endif %}
	  {% endwith %}
	</div>




		<section> <h2>Required Courses</h2></section>

	</div>

<div>
		<!-- Categories menu for all program categories -->
		<!-- <div class="col-md-2">
			Departments
			<ul>
				{% for dept in depts %}
					<a href=""><li>{{dept.name}}</li></a>
				{% endfor %}
			</ul>
		</div> -->


		<div class="col-md-2 padding-none">
				<a href="{{ url_for('deptDashboard') }}">
					<button class="btn btn-default">
						<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  Dept
					</button>
				</a>
				<div>
				Departments:
				{% for dept in depts %}
					{{dept.id}}
					{{dept.name}}
					{{dept.course_depts[0].name}}
					{%for p in dept.progs.all()%}
						 {{p.id}},
					{%endfor%}
				 {%endfor%}


				 <div>
					 Programs:
					 {% for pro in pros %}
						{{pro.id}}
						{{pro.name}}
						{{pro.dept_id}},
					 {%endfor%}

					</div>
				</div>
			</div>


		<div class="col-md-10 ">
		{% for course in courses %}
			<a href = " {{ url_for('courseDashboard') }}">
					<div class="col-md-2"></div>
					<div class="movies-list">
							<h3>{{course.name}}</h3>
							<h3>{{course.dept.name}}</h3>

						</div>
			</a>
		{% endfor %}
		</div>
	</div>

{% endblock %}
