{% extends "base.html" %}
{% block content %}
{% include "header.html" %}



<!-- Flash message that shows messages of the CRUD actions done within the website -->
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	    {% endif %}
	  {% endwith %}
	</div>


<div class="container padding-top">
	<div class="col-md-6"><section ><h1 class="dept-title">{{dept.name}}</h1></section></div>
	<div class="col-md-6">
		<a class="button-detail-dash" href="{{ url_for('createDeptForm') }}" >
			<button class="btn btn-default button-detail-dash">
				<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  New Department
			</button>
		</a>

		<a class="button-detail-dash" href="{{ url_for('editDeptForm', dept_id = dept.id) }}" >
			<button class="btn btn-default button-detail-dash">
				<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  Edit Department
			</button>
		</a>

		<a class="button-detail-dash" href="{{ url_for('deleteDeptForm', dept_id = dept.id) }}" >
			<button class="btn btn-default button-detail-dash">
				<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  Delete Department
			</button>
		</a>
	</div>
</div>

<div class="col-md-12">

			<h3>Name: {{dept.name}}</h3>

			<h6>Code: {{dept.code}}</h6>

			<h6>Program ID:

				<ul>
					{% for p in dept.progs %}
					<li>  {{p.name}}	</li>
					<li>  {{p.id}}	</li>
					{% endfor %}
					</ul>
				</h6>

			<h6>Department Courses:</h6>

			<ul>
				{% for c in dept.course_depts %}
				<li>  {{c.name}}	</li>
				{% endfor %}
				</ul>

	</div>
{% endblock %}
