{% extends "base.html" %}
{% block content %}
{% include "header.html" %}



<!-- Flash message that shows messages of the CRUD actions done within the website -->



	<form action="{{ url_for('editCourseForm', course_id = course.id)}}" method = "post">
					<div class="form-group">

							<label for="name">Name:</label>
							<input type ="text" maxlength="80" class="form-control" name="name" value="{{course.name}}">

							<label for="name">Code:</label>
							<input type ="text" maxlength="80" class="form-control" name="code" value="{{course.code}}">

							<label for="name">Credits:</label>
							<input type ="text" maxlength="80" class="form-control" name="credits" value="{{course.credits}}">

							<label for="name">Prereq:</label>   <br />
							<a href="" data-toggle="modal" data-target="#myModal"><img src="/static/icons8-plus.png" class="button-add" ></img></a>

							<input type="hidden" id="myField" name="myField" />


							<br /><br />
							<button type="submit" class="btn btn-default" id="submit" type="submit">
							<span class="glyphicon glyphicon-film" aria-hidden="true"></span>Edit</button>

					</div>
	</form>

	<!-- Trigger the modal with a button -->

	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Departments</h4>
				</div>
				<div class="modal-body">
					<select id="cat" name="cat1">
					    <option value>Select Department</option>
							{% for dept in depts %}
								<option value="{{dept.id}}">{{dept.name}}</option>
							{% endfor %}
					</select>

					<select id="subcat" name="subcat" disabled="disabled">
					    <option class="label" value>Select Prereq</option>
							{% for dept in depts %}
								{% for d in dept.course_depts %}
								<option rel="{{dept.id}}" value="{{d.id}}">{{d.name}}</option>
								{% endfor %}
							{% endfor %}
					</select>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>



{% endblock %}
