<div class="row top-menu">
	<div class="col-md-6">
		<a href="{{url_for('creditDashboard')}}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home Page
		</a>
	</div>
	<div class="col-md-6">
		<a href="{{url_for('creditDashboard')}}" class="login">
			<span class="glyphicons glyphicons-parents" aria-hidden="true" ></span> Login
		</a>
	</div>
</div>

<!-- Banner for the page -->
<div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-2"><img src="/static/citytech_logo.png" alt="CityTech Logo" height='150px'></div>
		<div class="col-md-10">
			<h1>CityTech Credit Tracker</h1>
		</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
</div>
