{% extends "base.html" %}
{% block content %}
{% include "header.html" %}



<!-- Flash message that shows messages of the CRUD actions done within the website -->
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	    {% endif %}
	  {% endwith %}
	</div>

	<h1>Log In</h1>
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.username.label }} <br />
			{{ form.username(size=32) }}
			{% for error in form.username.errors %}
				<span style='color:red;'>{{error}}</span>
			{% endfor %}
			</p>
			<p>
				{{ form.password.label }} <br />
				{{ form.password(size=32) }}
				{% for error in form.password.errors %}
					<span style='color:red;'>{{error}}</span>
				{% endfor %}
				</p>
				<p> {{ form.remember_me() }}	{{form.remember_me.label}}	</p>
				<p>	{{form.submit() }}			</p>
	</form>



{% endblock %}
