{% extends "base.html" %}
{% block content %}
{% include "header.html" %}



<!-- Flash message that shows messages of the CRUD actions done within the website -->
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	    {% endif %}
	  {% endwith %}
	</div>

	<section> <h2>Login</h2></section>
	<div class="form-group">

	<form action="{{ url_for('userLogin')}}" method = "post">

	<label for="name">Username:</label>
							<input type ="text" maxlength="80" class="form-control" name="user" >

	<label for="name">Password:</label>
							<input type ="text" maxlength="80" class="form-control" name="password" >

							<button type="submit" class="btn btn-default" id="submit" type="submit">

							<span class="glyphicon glyphicon-film" aria-hidden="true"></span>Login</button>
	</div>



{% endblock %}
