{% extends "base.html" %}
{% block content %}
{% include "header.html" %}



<!-- Flash message that shows messages of the CRUD actions done within the website -->
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	    {% endif %}
	  {% endwith %}
	</div>

	<section> <h2>Login</h2></section>

	<form action="{{ url_for('editMovies', category = movie.category, movie_id = movie.id)}}" method = "post">
					<div class="form-group">

	<label for="name">Name:</label>
							<input type ="text" maxlength="80" class="form-control" name="username" >

	<label for="name">Password:</label>
							<input type ="text" maxlength="80" class="form-control" name="password" >



{% endblock %}
