{% extends "base.html" %}
{% block content %}
{% include "header.html" %}


<!-- Flash message that shows messages of the CRUD actions done within the website -->
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	    {% endif %}
	  {% endwith %}
	</div>




<section class="col-md-12"> <h2>Required Courses</h2></section>


<div class="">

		<!-- Categories menu for all program categories -->
			Programs
				{% for prog in progs %}
					<a href = "{{ url_for('programDetail', prog_id = prog.id) }}"> <!-- edit later -->
							<div class="movies-list">
									<h3>{{prog.name}}</h3>
								</div>
					</a>
				{% endfor %}


	</div>
{% endblock %}
