{% extends "base.html" %}
{% block content %}
{% include "header.html" %}



<!-- Flash message that shows messages of the CRUD actions done within the website -->
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	    {% endif %}
	  {% endwith %}
	</div>

	<div class="row  menu">
			<h2>Signup</h2>
	</div>
	<div class="form-group">

	<form action="{{ url_for('userSignup')}}" method = "post">

	<label for="name">Username:</label>
							<input type ="text" maxlength="80" class="form-control" name="user" >

	<label for="name">Password:</label>
							<input type ="text" maxlength="80" class="form-control" name="password" >
			<label for="name">Email:</label>
													<input type ="text" maxlength="80" class="form-control" name="email" >
							<br />


							<button type="submit" class="btn btn-default" id="submit" type="submit">
							<span class="glyphicon glyphicon-film" aria-hidden="true"></span>Signup</button>
	</div>



{% endblock %}
