{% extends "base.html" %}
{% block content %}
{% include "header.html" %}



<!-- Flash message that shows messages of the CRUD actions done within the website -->
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	    {% endif %}
	  {% endwith %}
	</div>

<div class="container padding-top">
	<div class="col-md-12 crud_buttons">
		<a href="{{ url_for('createCourseForm') }}" >
			<button class="btn btn-default button-detail-dash">
				<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  New Course
			</button>
		</a>

		<a class="button-detail-dash" href="{{ url_for('editCourseForm', course_id = course.id) }}" >
			<button class="btn btn-default button-detail-dash">
				<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  Edit Course
			</button>
		</a>

		<a class="button-detail-dash" href="{{ url_for('deleteCourseForm', course_id = course.id) }}" >
			<button class="btn btn-default button-detail-dash">
				<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  Delete Course
			</button>
		</a>
	</div>
	<ul class="nav nav-pills crud_buttons_mobile col-xs-12">
	  <li class="nav-item">
	    <a class="nav-link" href="{{ url_for('createCourseForm') }}">New {{button_type}}</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{{ url_for('editCourseForm', course_id = course.id) }}">Edit {{button_type}}</a>
	  </li>
		<li class="nav-item">
	    <a class="nav-link" href="{{ url_for('deleteCourseForm', course_id = course.id) }}">Delete {{button_type}}</a>
	  </li>
	</ul>
	<div class="col-md-12 detail_title col-xs-12"><h1>{{course.name}}</h1></div>
</div>

<div class="col-md-12">

			<h3>Code: {{course.code}}</h3>

			<h3>Credits: {{course.credits}}</h3>

			<h3>Dept Name: <a href="{{ url_for('deptDetail', dept_id = course.dept.id) }}"> {{course.dept.name}} </a> </h3>

			<h3>Prerequistes: 			</h3>

				<table>
						<tbody>
							<tr>
									<!-- <th class="table-headings"> Course Number </th> -->
									<th class=""> Course Name </th>
							</tr>
							{% if course.prereqs %}
								{% for prereq in course.prereqs %}
									<tr>
											<td>	<a href="{{ url_for('courseDetail', course_id = prereq.id) }}"> {{prereq.name}} </a>	</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
										<td> <h3>Currently they're no Prerequiste courses for the specific course</h3>	</td>
								</tr>
							{% endif %}
						</tbody>
				</table>


			<h3> Corequistes:			</h3>

				<table>
						<tbody>
							<tr>
									<!-- <th class="table-headings"> Course Number </th> -->
									<th class="table-headings"> Course Name </th>
							</tr>
							{% if course.coreqs %}
								{% for coreq in course.coreqs %}
									<tr>
											<td>	<a href="{{ url_for('courseDetail', course_id = coreq.id) }}"> {{coreq.name}} </a>	</td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
										<td> <h3>Currently they're no Co-requiste courses for the specific course</h3>	</td>
								</tr>
							{% endif %}
						</tbody>
				</table>
	</div>
{% endblock %}
