{% extends "base.html" %}
{% block content %}
{% include "header.html" %}



<!-- Flash message that shows messages of the CRUD actions done within the website -->
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	    {% endif %}
	  {% endwith %}
	</div>


<div class="container padding-top">
	<div class="col-md-6"><section ><h1 class="dept-title">{{dept.name}}</h1></section></div>
	<div class="col-md-6">
		<a class="button-detail-dash" href="{{ url_for('createDeptForm') }}" >
			<button class="btn btn-default button-detail-dash">
				<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  New Department
			</button>
		</a>

		<a class="button-detail-dash" href="{{ url_for('editDeptForm', dept_id = dept.id) }}" >
			<button class="btn btn-default button-detail-dash">
				<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  Edit Department
			</button>
		</a>

		<a class="button-detail-dash" href="{{ url_for('deleteDeptForm', dept_id = dept.id) }}" >
			<button class="btn btn-default button-detail-dash">
				<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  Delete Department
			</button>
		</a>
	</div>
</div>

<div class="col-md-12">

			<h4>Code: {{dept.code}}</h4>

			<h3>Program Name:

					{% for p in dept.progs %}
		 				<a href="{{ url_for('programDetail', prog_id = p.id) }}"> {{p.name}} </a>
					{% endfor %}

				</h3>

			<h4>Department Courses:</h4>

			<table>
				<tr>
					<th class="table-headings">	Course Code		</th>
					<th class="table-headings">	Course Name		</th>
				</tr>
				{% for c in dept.course_depts %}
					<tr>
							<td> <a href="{{ url_for('courseDetail', course_id = c.id) }}"> {{c.code}} </a>	</td>
						  <td> <a href="{{ url_for('courseDetail', course_id = c.id) }}"> {{c.name}} </a> 	</td>
					</tr>
				{% endfor %}
			</table>

	</div>
{% endblock %}
