{% extends "base.html" %}
{% block content %}
{% include "header.html" %}



<!-- Flash message that shows messages of the CRUD actions done within the website -->



	<form action="{{ url_for('editCourseForm', course_id = course.id)}}" method = "post">
					<div class="form-group">

							<label for="name">Name:</label>
							<input type ="text" maxlength="80" class="form-control" name="name" value="{{course.name}}">

							<label for="name">Code:</label>
							<input type ="text" maxlength="80" class="form-control" name="code" value="{{course.code}}">

							<label for="name">Credits:</label>
							<input type ="text" maxlength="80" class="form-control" name="credits" value="{{course.credits}}">

							<label for="name">Prereq:</label>   <br />
							<a href="" data-toggle="modal" data-target="#preqModal"><img src="/static/icons8-plus.png" class="button-add" ></img></a>

							<input type="hidden" id="prereq" name="prereq" /> <br />

							<label for="name">Coreq:</label>   <br />
							<a href="" data-toggle="modal" data-target="#coreqModal"><img src="/static/icons8-plus.png" class="button-add" ></img></a>

							<input type="hidden" id="coreq" name="coreq" />



							<br /><br />

							<button type="submit" class="btn btn-default save" id="submit" type="submit">
							<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>Save</button>

							<a href = '{{url_for('creditDashboard')}}'>
								<button class="btn btn-default delete">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
								</button>
							</a>

					</div>
	</form>

	<!-- Trigger the modal with a button -->

	<!-- Preq Modal -->
	<div id="preqModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Preq</h4>
				</div>
				<div class="modal-body">
					<select id="cat1" class="btn">
					    <option>Select Department</option>
							{% for dept in depts %}
								<option value="{{dept.id}}">{{dept.name}}</option>
							{% endfor %}
					</select>

					<select id="subcat1" multiple="multiple" class="btn" disabled="disabled">
					    <option class="label">Select Prereq</option>
							{% for dept in depts %}
								{% for d in dept.course_depts %}
								<option rel="{{dept.id}}" value="{{d.id}}">{{d.name}}</option>
								{% endfor %}
							{% endfor %}
					</select>

				</div>
				<div class="modal-footer">
					<button type="reset" value="Reset" class="btn btn-default">Cancel</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

	<!-- Trigger the modal with a button -->

	<!-- Coreq Modal -->
	<div id="coreqModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Coreq</h4>
				</div>
				<div class="modal-body">
					<div class="container">
						<select id="cat2" class="btn">
						    <option value>Select Department</option>
								{% for dept in depts %}
									<option value="{{dept.id}}">{{dept.name}}</option>
								{% endfor %}
						</select>
					<strong>Select Language:</strong>
				    <select id="subcat2" multiple="multiple" class="btn">
							{% for dept in depts %}
								{% for d in dept.course_depts %}
								<option rel="{{dept.id}}" value="{{d.id}}">{{d.name}}</option>
								{% endfor %}
							{% endfor %}
				    </select>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

{% endblock %}
