{% extends "base.html" %}
{% block content %}
{% include "header.html" %}



<!-- Flash message that shows messages of the CRUD actions done within the website -->
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	    {% endif %}
	  {% endwith %}
	</div>


<div class="padding-top">
	<div class="col-md-7"><section><h2 class="dept-title">{{program.name}}</h2></section></div>
	<div class="col-md-5">
		<a class="button-detail-dash" href="{{ url_for('createProgramForm') }}" >
			<button class="btn btn-default button-detail-dash">
				<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  New Program
			</button>
		</a>

		<a class="button-detail-dash" href="{{ url_for('editProgramForm', program_id = program.id) }}" >
			<button class="btn btn-default button-detail-dash">
				<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  Edit Program
			</button>
		</a>

		<a class="button-detail-dash" href="{{ url_for('deleteProgramForm', program_id = program.id) }}" >
			<button class="btn btn-default button-detail-dash">
				<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  Delete Program
			</button>
		</a>
	</div>
</div>

<div class="col-md-12">

			<h3>Code: {{program.code}}</h3>

			<h3>Degree: {{program.degree}}</h3>



	</div>
{% endblock %}
