{% extends "base.html" %}
{% block content %}
{% include "header.html" %}



<!-- Flash message that shows messages of the CRUD actions done within the website -->
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
	    {% if messages %}
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	    {% endif %}
	  {% endwith %}
	</div>


<div class="container padding-top">
	<div class="col-md-12 crud_buttons">
		<a class="button-detail-dash" href="{{ url_for('createProgramForm') }}" >
			<button class="btn btn-default button-detail-dash">
				<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  New Program
			</button>
		</a>

		<a class="button-detail-dash" href="{{ url_for('editProgramForm', program_id = program.id) }}" >
			<button class="btn btn-default button-detail-dash">
				<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  Edit Program
			</button>
		</a>

		<a class="button-detail-dash" href="{{ url_for('deleteProgramForm', program_id = program.id) }}" >
			<button class="btn btn-default button-detail-dash">
				<span class="glyphicons glyphicons-film" aria-hidden="true"></span>  Delete Program
			</button>
		</a>
	</div>

	<ul class="nav nav-pills crud_buttons_mobile col-xs-12">
		<li class="nav-item">
			<a class="nav-link" href="{{ url_for('createCourseForm') }}">New Program</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ url_for('editProgramForm', program_id = program.id) }}">Edit Program</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ url_for('deleteProgramForm', program_id = program.id) }}">Delete Program</a>
		</li>
	</ul>
	<div class="col-md-12 detail_title col-xs-12"><h1>{{program.name}}</h1></div>
</div>

<div class="col-md-12">

			<h3>Code: {{program.prog_short}}</h3>

			<h3>Degree: {{program.degree.name}}</h3>



	</div>
{% endblock %}
